<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Reset Password</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <center>
            <h1>Enter new password</h1>
        </center>
        <br><br>
        <center>
            <form method="POST">
                <input type="password" placeholder="New Password" name="password" required>
                <button type="submit">Reset password</button>
            </form>
        </center>
    </body>
</html>